---
import "@/styles/globals.css";
import ToggleModeButton from "@/components/toggle-mode-button.astro";
import { Nav } from "@/components/nav";
import { Footer } from "@/components/footer";
import { getParsedCollection } from "@/lib/helpers";
import { cn } from "@/lib/utils";
import type { ProjectInfo } from "@/types/dropdown";

const collectionToGet = "projects";

const dropdownItems = (await getParsedCollection(collectionToGet))
  .map(({ frontmatter }) => ({
    title: frontmatter.title,
    href: `/${collectionToGet}/${frontmatter.href}`,
    description: frontmatter.shortDescription,
  }))
  .reverse()
  .splice(0, 11) satisfies ProjectInfo; // Only show the 11 most recent projects

dropdownItems.push({
  title: "All Projects",
  href: `/${collectionToGet}`,
  description: "See all projects",
});

const title = Astro.props.title ?? (Astro.props as unknown as MarkdownProps).frontmatter?.title ?? "NicoToff";
const description =
  Astro.props.description ??
  (Astro.props as unknown as MarkdownProps).frontmatter?.description ??
  "Nicolas Toffolo, software and web developer";
const ogDescription = description ?? "Nicolas Toffolo's portfolio website";
const containerClass = ["container", "mx-auto"]; // Temporarily disabled to avoid layout shifts from Radix
const bodyClass = cn("mb-4", ...containerClass, Astro.props.class);

type MarkdownProps = {
  frontmatter: Props;
};
type Props = {
  title: string;
  description?: string;
  class?: string;
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="Toffolo, frontend, backend, TypeScript, JavaScript, JS, Node.js, C++, software engineer, developer, ESP32"
    />
    <meta name="author" content="Nicolas Toffolo" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:image" content="https://i.postimg.cc/b8LnH8zj/nt.png" />
    {/* TODO: <meta property="og:url" content="" /> */}
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <Nav client:load dropdownItems={dropdownItems}>
      <ToggleModeButton />
    </Nav>
    <main
      class="prose mx-auto mt-4 max-w-screen-lg p-4 dark:prose-invert prose-a:underline-offset-2 hover:prose-a:no-underline prose-img:mx-auto"
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>

<script src="./page.ts"></script>
